@import "../../../../assets/styles/variables.module.css";

.userLogin {
    background-color: var(--black);
    background-image: url(./../../../../assets/images/logoBussinesLarge.svg);
    background-repeat: no-repeat;
    background-position: top right;
    
}