@import "./../../assets/styles/variables.module.css";

:root {
  font-size: 16px;
}

.wrapper {
  margin: 0 auto;
}

/*Start Header*/
.header {
  padding-left: 6.375rem; /* 102px */
  font-size: 4.5rem; /* 72px */
  font-style: normal;
  font-weight: 300;
  line-height: 5.9375rem; /* 95px */
  background: url("../../assets/images/promoImage1.png") top left 50px no-repeat,
    url("../../assets/images/promoImage2.png") top right no-repeat;
  background-color: var(--emerald-green);
  color: var(--white);
}

.header .container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.header .headerSlogan {
    margin: 0;
    padding-top: 30.375rem; /* 486px */
    font-size: 5.4375rem; /* 87px */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  } 
  .header .content {
    padding-bottom: 6.25rem; /* 100px */
    padding-top: 9.375rem; /* 150px */
  }

  .header .logoImg {
    position: relative;
    padding-right: 15.25rem; /* 252px */
  }
  .header .logoImg:before {
    content: "";
    width: 11.5625rem; /* 185px */
    height: 3.4375rem; /* 55px */
    display: block;
    position: absolute;
    bottom: 1.375rem; /* 22px */
    right: 2.125rem; /* 34px */
    background: url("../../assets/images/logoColor.svg");
  }

  .header .buttonHolder {
    padding-bottom: 12.4375rem; /* 199px */
  }
/*End Header*/

/*Start Main*/

/*Start Section Benefits*/

.sectionBenefits .container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
.sectionBenefits .heading {
    padding: 8.3125rem 0; /* 133px */
  }

.sectionBenefits .benefits {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 9.375rem; /* 150px */
    grid-row-gap: 8.625rem; /* 143px */
    padding-bottom: 11.25rem; /* 0 50px 180px */
  }

.sectionBenefits.benefitsItem1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .sectionBenefits  .benefitsItem2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .sectionBenefits  .benefitsItem3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .sectionBenefits  .benefitsItem4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .sectionBenefits  .benefitsItem {
    /*width: 45%;*/
    position: relative;
    display: flex;
    align-items: center;
    min-height: 11.5625rem; /* 185px */
    padding-left: 17.75rem; /* 283px */
    font-size: 2.1875rem; /* 35px */
    font-weight: 300;
    line-height: 2.3125rem; /* 37px */
  }
  .sectionBenefits  .benefitsItem::before {
    content: "";
    width: 11.4375rem; /* 183px */
    height: 11.4375rem; /* 183px */
    position: absolute;
    top: 0;
    left: 3.125rem; /* 50px */
  }
  
  .sectionBenefits .benefitsItem1::before {
    background-image: url("../../assets/images/fire.svg");
  }
  .sectionBenefits  .benefitsItem2::before {
    background-image: url("../../assets/images/planet.svg");
  }
  .sectionBenefits .benefitsItem3::before {
    background-image: url("../../assets/images/lamp.svg");
  }
  .sectionBenefits .benefitsItem4::before {
    background-image: url("../../assets/images/papirus.svg");
  }
/*End Section Benefict*/

/*Start Section Popular*/
.popularCategoryPromo {
  padding: 2.375rem 0; /* 38px */
}
.popularCategoryPromo  .container {
    display: flex;
    flex-direction: column;
  }
  .popularCategoryPromo .heading {
    padding: 6.875rem 10.625rem; /* 98px 170px */
  }
  .popularCategoryPromo .cards {
    display: flex;
    gap: 3.125rem; /* 50px */
    padding: 3.75rem 0; /* 60px */
  }

  .popularCategoryPromo .textHolder {
    font-size: 1.125rem;
    line-height: 1.375rem; 
  }
.popularCategoryPromo .cardItem {
  padding: 1.25rem ; /* 20px */
  border-radius: 1.25rem; /* 20px */
  border: 0.1875rem solid var(--key-green);
}

.popularCategoryPromo .imageHolder {
  width: 100%;
}

.popularCategoryPromo .itemHeading {
  margin: 0;
  font-size: 1.5rem;
  padding: 2.5rem 0;
} 

.popularCategoryPromo .textHolder {
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.popularCategoryPromo .buttonHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.6875rem 0 1.25rem;
}

.popularCategoryPromo button {
  font-size: 1.5rem;
  padding: 0.8125rem 1.8125rem;
}

/*End Section Popular*/

/*Start Section Sellers*/
.sellersPromo {
  padding: 6.25rem 0; /* 100px */
}
.sellersPromo .container {
      flex-direction: column;
      padding: 0;
      max-width: 100%;
  }

  .sellersPromo  .info {
    display: flex;
    flex-direction: row-reverse;
  }

  .sellersPromo .imageHolder {
    width: 45%;
  }

  .sellersPromo .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
  }

  .sellersPromo  .heading {
    padding-bottom: 4.375rem; /* 70px */
  }

  .sellersPromo  .textHolder {
    padding: 5rem 0; /* 80px */
    font-size: 2.8125rem; /* 45px */
    font-weight: 300;
    line-height: 3.35rem;
  }
  .sellersPromo .buttonHolder {
    padding-left: 25px;
  }
  .sellersPromo .buttonHolder button {
    padding: 0.8125rem 1.8125rem;
    font-size: 2.25rem;
  }

/*End Section Sellers*/
/*End Main*/

/*Start Footer*/
.footer {
  background-color: #254626;
  padding: 1.25rem 0; /* 20px */
}
.footer  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer  .servises {
    display: flex;
    gap: 3.125rem; /* 51px */
    color: var(--white);
  }
/*End Footer*/

/*Media Query */


@media (min-width: 768px) and (max-width: 1024px) {
  
  .popularCategoryPromo .itemHeading {
      line-height: 2rem;
    }

 .popularCategoryPromo .heading {
  padding: 4.875rem 6.625rem;
 }

  .popularCategoryPromo .imageHolder{
      width: 100%;
    }

  .popularCategoryPromo .content {
      width: 75%;
      align-items: center;
      padding-bottom: 2.2rem;
    }

  .sellersPromo .info {
    flex-direction: column;
    align-items: center;
      justify-content: center;
  }

  .sellersPromo .imageHolder{
    width: 100%;
  }

  .sellersPromo  .content {
    text-align: center;
    width: 93%;
    align-items: center;
  }

  .sellersPromo .textHolder {
    font-size: 2.5rem;
  }

  .sellersPromo .buttonHolder {
    padding-left: 0;
  }

  .footer .footerLogo {
      width: 200px;
    }
  }

@media (max-width:767px) {
.popularCategoryPromo .itemHeading {
  font-size: 1.25rem;
  }

.popularCategoryPromo .heading {
  padding: 0;
}

.popularCategoryPromo .textHolder {
  font-size: 0.75rem;
}

.popularCategoryPromo .buttonHolder button {
  font-size: 1.25rem;
  padding: 0.4375rem 1.25rem;
}
.sellersPromo{
  padding-top: 0;
}

.sellersPromo .heading {
    font-size: 1.75rem;
    line-height: 1rem;
    letter-spacing: -0.1225rem;
    padding-bottom: 20px;
  }

.sellersPromo .textHolder {
    font-size: 1.3125rem;
    line-height: 1rem;
    padding: 30px 0;
  }

.sellersPromo .buttonHolder button {
    padding: 0.8125rem 1.8125rem;
    font-size: 1.25rem;
  }

  .sellersPromo .info {
    flex-direction: column;
    align-items: center;
      justify-content: center;
  }
  .sellersPromo .imageHolder{
    width: 100%;
  }

  .sellersPromo  .content {
    text-align: center;
    width: 93%;
    align-items: center;
  }

  .sellersPromo .textHolder {
    font-size: 1.3125rem;
  }

.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .footerLogo {
    width: calc(30% - 10px);
  }
.footer .servises {
    font-size: 10px;
  }
}












@media only screen and (max-width: 1024px) {
  .header {
    background-size: 28.5rem auto, 40rem auto;
    background-position: top 0px left 1rem, top 0px right 0;
  }
  .header .content {
      padding-top: 12.5rem;
      padding-bottom: 6rem;
    }
  
  .header  .buttonHolder { 
      margin-left: -6.375rem;
      display: flex;
      justify-content: center;
    }
  
  .header .headerSlogan {
      line-height: 6.06rem;
      font-size: 4.6875rem;
    }
  
  .header .logoImg::before {
      bottom: 0.875rem;
      right: 0.5rem;
      background-size: 10.3125rem auto;
      background-repeat: no-repeat;
    }
  
  .header .logoImg {
      padding-right: 14rem;
    }
  
  .sectionBenefits .heading {
      font-size: 3rem; 
      padding: 11.25rem 0 10.1875rem 0;
    }
  
  .sectionBenefits .benefits {
      grid-column-gap: 45%;
      grid-row-gap: 8.5rem;
      padding-bottom: 0;
    }
  
  .sectionBenefits .benefitsItem {
      padding-left: 0;
      padding-top: 9.0625rem;
      font-size: 1.5rem;
    }
  
  .sectionBenefits .benefitsItem::before {
      left: 0;
      background-repeat: no-repeat;
    }
  
  .sectionBenefits .benefitsItem::before {
      background-size: 10.625rem auto;
    }
}
@media only screen and (max-width: 768px) {
  .sectionBenefits .benefits {
      text-align: center;
    }
  }

@media only screen and (max-width: 600px) {
  .header {
    padding: 0 0.625rem;
    line-height: 4.6875rem;
    background-size: 13.75rem auto, 18.75rem auto;
    background-position: top 0 left 0, top 0px right 0;
  }

  .header .container {
    padding:  0;
  }
  .header  .content {
      text-align: center;
      font-size: 2.25rem;
      padding-top: 12.5rem;
      padding-bottom: 6rem;
    }
  
    .header  .headerSlogan {
      padding-top: 7.875rem;
      line-height: 2.8125rem;
      font-size: 2.5rem;
    }
    
    .header  .logoImg {
      font-size: 2.25rem;
      padding-right: 7.875rem;
    }
    
    .header  .logoImg::before {
      width: 6.25rem;
      height: 2rem;
      background-size: 6rem auto;
      bottom: 0.3125rem;
      right: 0.625rem;
    }
  
    .header  .buttonHolder {
      margin: 0;
      padding-bottom: 4.375rem;
      display: flex;
      justify-content: center;
    }
  
  .sectionBenefits .heading {
      padding: 3.875rem 0 3.1875rem;
      font-size: 1.75rem;
    }
  
    .sectionBenefits  .benefits {
      grid-column-gap: 0.625rem;
      grid-row-gap: 2.625rem;
      padding-bottom: 4.75rem;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      justify-items: center;
    }
  
    .sectionBenefits .benefitsItem {
      min-height: 4rem;
      padding-top: 6.375rem;
      font-size: 1.125rem;
      line-height: 1.375rem;
    }
  
.sectionBenefits .benefitsItem::before {
      width: 5.875rem;
      height: 5.875rem;
      background-size: 5.5rem auto;
    }
  
}
/*End MediaQuery*/
