@import "../../../../assets/styles/variables.module.css";

.userLogin {
    background-color: var(--emerald-green);
    background-image: url(./../../../../assets/images/logoLarge.png);
    background-repeat: no-repeat;
    background-position: top right;
    
}