@import "../../../assets/styles/variables.module.css";

.login {
    background-color: var(--emerald-green);
    background-image: url(./../../../assets/images/logoLarge.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.container {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    padding: 7.78rem 5.06rem ;
    gap: 14.69rem;
}

.imagesHolder {
    width: calc(100% - 45rem );
}


.imagesHolder img {
    height: auto;
}

.formHolder {
    display: flex;
    flex-direction: column;
    width: calc(100% / 2 - 10px);
    padding: 3.75rem 2.38rem;
    background-color: var(--white);
    border-radius: 1.25rem;
}


.formHeading {
    display: flex;
    flex-direction: column;
    gap: 2.06rem;
    padding-bottom: 5.62rem;
}

.link {
    color: var(--key-green);
    text-decoration: underline;
}

