@import "./variables.module.css";
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");
@import "./normalize.css";

*,
*::before,
*::after {
<<<<<<< HEAD
   padding: 0;
   margin: 0;
=======
  padding: 0;
>>>>>>> e1dd469e24d8d692523a2c72369a049a98398f50
}

body {
  font-family: var(--default-font);
  font-size: 16px;
  color: var(--black);
  margin: 0;
}

h2 {
   color: var(--black);
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    margin: 0;
}

img,
picture {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}


p {
   margin: 0;
}

.container {
   display: flex;
   margin: 0 auto;
   max-width: 1200px;
   padding: 0 15px;
 }


 @media (min-width:769px) and (max-width:1024px) {
   h2 {
      font-size: 48px;
   }
 }

 @media (max-width: 768px){
   h2 {
      font-size: 28px;
   }
   
   .container {
      padding: 0 10px;
   }
 }