.btn {
    cursor: pointer;
    width: 164px;
    height: 54px;
    font-size: 24px;
    font-weight: 300;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    background-color: transparent;
    border: 1px solid var(--white);
    
    transition: all ease-in-out 0.5s;

}

.btn:hover {
    background-color: var(--key-yellow);
    transform: scale(1.2);
}

